<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add a New Book</title>
</head>
<body>
  <form method = "POST" action = "/books">
    <p>Book Title: <input type="text"></p>
    <p>Some Cool Stuff About Your Book: <input type="text"></p>
    <input type="submit">
  </form>
</body>
</html>