
<div class="col"> 
    <ul style= "list-style-type: none;">
        <% @patients.each do |patient| %>
        <li style="padding-top: 20px;"><h6><%= link_to patient.name, patient %>, <%= patient.condition %></h6></li>
        <% end %>
    </ul>
</div>